@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Bold.otf") format("opentype");
  font-weight: bold;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #2d9ee0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body section{
  width: 908px;
}
.header img {
  height: 40px;
}
#info-container {
  height: 25%;
  display: flex;
  align-items: center;
}

.MainInfo {
  height: 68%;
  font-family: "Mont";
  display: flex;
  
}

#maintemp{
  font-size: 100px;
  bottom: 0;
}
#sectemp{
  color:rgba(255, 255, 255, 0.486);
  font-size: 60px;
  line-height: 205%;
}
.MainInfo img {
  height: 90%;
  display: flex;
  align-self: flex-end;
  padding-right: 10%;
}
#graphic {
  display: flex;
  align-items: center;
  height: 38%;
}
#boxes {
  display: flex;
  margin-top: 3%;
}
.box-content {
  height: 130px;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.13);
  margin: 5px;
  border-radius: 20px;
  padding: 0px;
  font-size: 20px;
  font-family: "Mont";
  justify-content: center;
  display: block;
  cursor: pointer;
  transition: 0.4s;
}
.box-content:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.103);
}
.box-content div, button{
  display: flex;
  justify-content: center;
}

#week-day {
  padding-top: 5px;
  font-size: 25px;
  color:white;
}
#icon-day {
  height: 40px;
  margin: 13px;
}
.max-min {
  font-size: 15px;
  color:white;
}
.min-day {
  margin-left: 50px;
  color: rgb(209, 208, 208);
}


@media (max-width: 990px) {
  body {
    height: 100vh;
    background-color: #2d9ee0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
